body {
background-color: #f0e6f4; 
}

.container {
background-color: #c18aff; 
padding: 20px;
border-radius: 10px;
}

h1 {
color: #6a1b9a; 
}

.btn-primary {
background-color: #b30068; 
border-color: #b30068;
}

.btn-primary:hover {
background-color: #d81b60; 
border-color: #d81b60; 
}

.form-label {
    margin-bottom: 10px;
}